<nav class="sidebar">
    <div class="nav-main">
      <a href="#"><i class="fa fa-gamepad"></i> <span>Trader Versus</span></a>
      <a href="#"><i class="fa fa-shield"></i> <span>Guild War</span> </a>
      <a href="#"><i class="fa fa-refresh"></i> <span>ync Learning</span></a>
      <a href="#"><i class="fa fa-book"></i> <span>Trading Journal</span></a>
    </div>

    <div class="nav-bottom">
      <a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a>
      <button><i class="fa fa-sign-out"></i> <span>Log Out</span></button>
    </div>
</nav>