<section class="trade-versus">
  <section class="title">
    <h1>TradeVersus</h1>
  </section>
  <div class="grid">
    <a href="#" class="card"> 
      <img src="" alt="" class="quick-game">
      <span>Quick Game <i class="fa fa-bolt"></i></span>
    </a>
    <a href="#" class="card"> 
      <img src="" alt="" class="party-modes">
      <span>Party Modes <i class="fa fa-users"></i></span>
    </a>
    <a href="#" class="card"> 
      <img src="" alt="" class="rank">
      <span>Rank <i class="fa fa-line-chart"></i></span>
    </a>
    <a href="#" class="card"> 
      <img src="" alt="" class="practice">
      <span>Practice <i class="fa fa-graduation-cap"></i></span>
    </a>
  </div>
</section>

