

<div class="container">
  <h1 class="title"><span>QUICK</span><span>PLAY</span></h1>

  <div class="menu">
    <a href=""><span class="btn">1</span>vs<span class="btn">1</span></a>
    <a href=""><span class="btn">2</span>vs<span class="btn">2</span></a>
  </div>

</div>